
.weather-container {
  background: grey;
  text-align: center;
}
.city {
  font-size: 22px;
  font-weight: bold;
}
.weather {
  font-size: 22px;
  margin: 0;
}
.temp {
  font-size: 65px;
  margin: 0;
  font-weight: bold;
}
.button-container {
  align-content: right;
  position: relative;
}
.button {
  background-color: #4CAF50;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  width: 60px;
  height: 60px;
  position: absolute;
  right: 10px;
}